@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Monoton');


.my_title{
  //font-family: Arial;
  font-family: 'Monoton';
  font-size: 100px;
  color: purple;
  text-shadow: 2px 2px #ff0000;
}

.button{
  margin: auto;
}

.set_col{
  border-style: solid;
  border-width:3px;
  border-color: black;
  width: 20%;
  margin-left: 2%;
}

.content-home{
  margin-top:1%;
}

.inner{

  padding-top: 2%;
  margin-left: 2%;
}

