.button{
  margin: auto;
}

.set_col{
  border-style: solid;
  border-width:3px;
  border-color: black;
  width: 20%;
  margin-left: 2%;
}

.content-home{
  margin-top:1%;
}

.inner{

  padding-top: 2%;
  margin-left: 2%;
}