<<<<<<< HEAD
=======
@import 'fonts';
>>>>>>> 9e138a5ef4a85d2b4255bf5cdf5902f70e328bc5

* {
  box-sizing: border-box;
}

body {
  background: #ececec;
}

.home {
  display: block;
  width: 520px;
  height: auto;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  padding: 15px 50px;
}
